@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url(https://unpkg.com/@webpixels/css@1.0/dist/index.css);

section{
    min-height: 100vh;
}

.navbar{
    background-color: transparent;
}

.nav-link{
    color:white
}

header{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 2;
}

.carousel-item img{
    width: 100%;
    height: 45vh;
}

.illustration{
    height: 30vh;
}

.footer{
    padding: 30px 0px;
    min-height: 20vh;
    background-color: black;
}

.extra-space{
    height: 10vh;
}


.middle .inner{
    height: 100%;
}

.left-box{
    padding-top: auto;
}

.teacher-image{
    width: 70%;
    border-radius: 50%;
    object-fit: scale-down;
}

#contactus{
    display: flex;
    flex-direction: column;
}

#contactus .middle{
    flex-grow: 1;
}


.facebook{
    color: 	#4267B2;
}

.instagram{
    color: palevioletred;
}

.twitter{
    color:#1DA1F2;
}

.phone{
    color: green;
}

.location{
    color: blue;
}

.heading{
    font-family: 'Mate SC', serif;
}

.sub-heading{
    font-family: 'Lato', sans-serif;
}

.avatar {
	width: 30vh;
	height: 30vh;
  border-radius: 50%;
}

.review-img{
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
}

iframe{
    height: 50vh;
    width: 70%;
}

.left-box, .right-box{
    margin: 30px 0px;
}

@media screen and (max-width: 1080px) {
  iframe {
    width: 100vw !important;
  }
}
iframe {
  height: 50vh;
  width: 70%;
}
.video {
  margin: 40px;
}

.footer ul {
  list-style: none;
}

.special-text{
    color: black;
    font-weight: 400;
}

.image-container{
    height: 30vh;
}

.image-container img{
    height: 100%;
    object-fit: fill ;
}

.course-item .card{
    height: 100%;
}

.logo{
    width: 60%;
}

@media screen and (max-width: 576px) {



    .logo{
        width: 90%;
    }
    
}
